@import "fonts.css";
@import "font-awesome.min.css";

.font {
    font-family: TextFont, sans-serif !important;
    font-size: 12px !important;
}

.font-bold {
    font-family: TextFont, sans-serif !important;
    font-size: 11px !important;
    font-weight: bold;
}

.subheadline {
    font-family: SubHeadline, sans-serif;
    font-size: large;
}

.mainheadline {
    font-family: MainHeadline, sans-serif;
    font-size: 40px;
}

li .portlet-body form {
    margin: 0;
}

li .portlet-borderless-container {
    min-height: 0;
}

.aui body {
    background: url("../img/wavegrid.png") repeat;
}

.aui .dockbar {
    z-index: 10000;
}

.nav-wrapper {
    position: fixed;
    width: 100%;
    background: #474747;
    opacity: .9;
    z-index: 9999;
}

.nav-wrapper > div:first-child {
    width: 1255px;
    margin: auto;
}

.nav-wrapper ul {
    padding: 0;
    margin: 0;
}

.nav-wrapper ul li {
    position: relative;
    display: table;
    float: left;
    height: 50px;
    list-style-type: none;
    text-align: center;
}

.nav-wrapper ul li:hover {
    background: #c7d21f;
}

.nav-wrapper ul li a {
    display: table-cell;
    vertical-align: middle;
    width: 130px;
    height: 50px;
    font-family: SubHeadline, sans-serif;
    text-decoration: none !important;
    color: #c7d21f;
    font-size: 19px;
    margin-top: 12px;
}

.nav-wrapper ul li a:hover {
    color: #ffffff;
}

#banner {
    margin-top: 50px;
}

.auc-title {
    float: right;
    font-family: MainHeadline, Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #c7d21f;
    margin-top: 12px;
}

header#banner > div.auc-title + nav.navbar.navbar-default {
    min-height: 40px;
}

.content {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px
    rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px
    rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content > span.subheadline:first-child {
    display: inline-block;
    margin-bottom: 10px;
}
